#### 1.Establish a connection between Python and the Sakila database.

In [2]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine
from sqlalchemy import text

import getpass  # To get the password without showing the input
password = getpass.getpass()

In [4]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+ bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

#### 2.Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. 
**The function should take in three parameters:**

- **engine**: an object representing the database connection engine to be used to establish a connection to the Sakila database.
- **month**: an integer representing the month for which rental data is to be retrieved.
- **year**: an integer representing the year for which rental data is to be retrieved.

The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [20]:
def rentals_month(engine, month, year):
    with engine.connect() as connection:
        query = text("""
        SELECT 
            DATE_FORMAT(rental_date, '%Y-%m') AS month,
            COUNT(*) AS total_rentals
        FROM
            rental
        WHERE
            MONTH(rental_date) = :month AND YEAR(rental_date) = :year
        GROUP BY
            month;""")
        result = connection.execute(query, {"month": month, "year": year})
        df = pd.DataFrame(result.fetchall(), columns=result.keys()) 
    return df

# Example usage 
df = rentals_month(engine, 8, 2005)
print(df)

     month  total_rentals
0  2005-08           5686

#### 3.Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

In [12]:
def rental_count_month(engine, month, year):
    column_name = f"rentals_{int(month):02d}_{year}"

    with engine.connect() as connection:
        query = text("""
        SELECT 
            customer_id,
            COUNT(*) AS rental_count
        FROM
            rental
        WHERE
            MONTH(rental_date) = :month AND YEAR(rental_date) = :year
        GROUP BY customer_id
        ORDER BY customer_id
        """)
        result = connection.execute(query, {"month": month, "year": year})
        data = result.fetchall()
        df = pd.DataFrame(data, columns=["customer_id", column_name])
        
    return df

In [13]:
df = rental_count_month(engine, 5, 2005)
print(df.head())

   customer_id  rentals_05_2005
0            1                2
1            2                1
2            3                2
3            5                3
4            6                3

#### 4. Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [ ]:
def compare_rentals(engine, month1, year1, month2, year2):
    col1 = f"rentals_{int(month1):02d}_{year1}"
    col2 = f"rentals_{int(month2):02d}_{year2}"
    
    with engine.connect() as connection:
        query = text(f"""
        SELECT 
            r1.customer_id,
            r1.{col1} AS {col1},
            r2.{col2} AS {col2}
        FROM
            (SELECT customer_id, COUNT(*) AS {col1}
            FROM rental
            WHERE MONTH(rental_date) = :month1 AND YEAR(rental_date) = :year1
            GROUP BY customer_id) AS r1
        LEFT JOIN
            (SELECT customer_id, COUNT(*) AS {col2}
            FROM rental
            WHERE MONTH(rental_date) = :month2 AND YEAR(rental_date) = :year2
            GROUP BY customer_id) AS r2
        ON r1.customer_id = r2.customer_id
        ORDER BY r1.customer_id;""")
        
        result = connection.execute(query, {"month1": month1, "year1": year1, "month2": month2, "year2": year2})
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    return df
df = compare_rentals(engine, 5, 2005, 8, 2005)

print(df.head())

   customer_id  rentals_05_2005  rentals_08_2005
0            1                2               11
1            2                1               11
2            3                2                7
3            5                3               13
4            6                3               12