#### 1.Establish a connection between Python and the Sakila database.

In [23]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine
from sqlalchemy import text

import getpass  # To get the password without showing the input
password = getpass.getpass()

connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

#### 2.Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. 
**The function should take in three parameters:**

- **engine**: an object representing the database connection engine to be used to establish a connection to the Sakila database.
- **month**: an integer representing the month for which rental data is to be retrieved.
- **year**: an integer representing the year for which rental data is to be retrieved.

The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [24]:
def rentals_month(engine, month, year):
    with engine.connect() as connection:
        result = connection.execute(
            text("SELECT * FROM rental WHERE MONTH(rental_date) = :month AND YEAR(rental_date) = :year"),
            {"month": month, "year": year}
        )
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    return df

# Example usage 
df = rentals_month(engine, 8, 2005)
print(df)

      rental_id         rental_date  inventory_id  customer_id  \
0         10181 2005-08-01 00:00:44          3111          113
1         10182 2005-08-01 00:08:01          4112          578
2         10183 2005-08-01 00:08:01          4319          377
3         10184 2005-08-01 00:09:33          2785           77
4         10185 2005-08-01 00:12:11          1266           64
...         ...                 ...           ...          ...
5681      16045 2005-08-23 22:25:26           772           14
5682      16046 2005-08-23 22:26:47          4364           74
5683      16047 2005-08-23 22:42:48          2088          114
5684      16048 2005-08-23 22:43:07          2019          103
5685      16049 2005-08-23 22:50:12          2666          393

             return_date  staff_id         last_update
0    2005-08-04 19:33:44         1 2006-02-15 21:30:53
1    2005-08-09 18:14:01         2 2006-02-15 21:30:53
2    2005-08-09 20:41:01         1 2006-02-15 21:30:53
3    2005-08-05 04:12:33         2 2006-02-15 21:30:53
4    2005-08-03 03:03:11         1 2006-02-15 21:30:53
...                  ...       ...                 ...
5681 2005-08-25 23:54:26         1 2006-02-15 21:30:53
5682 2005-08-27 18:02:47         2 2006-02-15 21:30:53
5683 2005-08-25 02:48:48         2 2006-02-15 21:30:53
5684 2005-08-31 21:33:07         1 2006-02-15 21:30:53
5685 2005-08-30 01:01:12         2 2006-02-15 21:30:53

[5686 rows x 7 columns]

#### 3.Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

In [12]:
def rental_count_month(engine, month, year):
    column_name = f"rentals_{int(month):02d}_{year}"

    with engine.connect() as connection:
        query = text("""
        SELECT 
            customer_id,
            COUNT(*) AS rental_count
        FROM
            rental
        WHERE
            MONTH(rental_date) = :month AND YEAR(rental_date) = :year
        GROUP BY customer_id
        ORDER BY customer_id
        """)
        result = connection.execute(query, {"month": month, "year": year})
        data = result.fetchall()
        df = pd.DataFrame(data, columns=["customer_id", column_name])
        
    return df

In [13]:
df = rental_count_month(engine, 5, 2005)
print(df.head())

   customer_id  rentals_05_2005
0            1                2
1            2                1
2            3                2
3            5                3
4            6                3

#### 4. Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [26]:
def compare_rentals(engine, month1, year1, month2, year2):
    col1 = f"rentals_{int(month1):02d}_{year1}"
    col2 = f"rentals_{int(month2):02d}_{year2}"
    
    with engine.connect() as connection:
        query = text(f"""
        SELECT 
            r1.customer_id,
            r1.{col1} AS {col1},
            r2.{col2} AS {col2}
        FROM
            (SELECT customer_id, COUNT(*) AS {col1}
            FROM rental
            WHERE MONTH(rental_date) = :month1 AND YEAR(rental_date) = :year1
            GROUP BY customer_id) AS r1
        LEFT JOIN
            (SELECT customer_id, COUNT(*) AS {col2}
            FROM rental
            WHERE MONTH(rental_date) = :month2 AND YEAR(rental_date) = :year2
            GROUP BY customer_id) AS r2
        ON r1.customer_id = r2.customer_id
        ORDER BY r1.customer_id;""")
        
        result = connection.execute(query, {"month1": month1, "year1": year1, "month2": month2, "year2": year2})
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    
    df['difference'] = df[col1].fillna(0) - df[col2].fillna(0)
    return df

df = compare_rentals(engine, 5, 2005, 8, 2005)
print(df.head())

   customer_id  rentals_05_2005  rentals_08_2005  difference
0            1                2               11          -9
1            2                1               11         -10
2            3                2                7          -5
3            5                3               13         -10
4            6                3               12          -9